
<%- include("partials/header.ejs") %>

<form action="/create" method="POST">
    <!-- <label for="blog">Blog: </label>
    <textarea name="content" placeholder="Post Content" required></textarea> -->
    <div class="container-fluid col align-content-center">
        <div class="hstack gap-3 row m-5">
            <input class="form-control me-auto" type="text" name="title" placeholder="Add your item here..." aria-label="Add your item here...">
        </div>
        <div class="form-floating row m-5">
            <textarea class="form-control" name="content" placeholder="write your post" id="floatingTextarea2" style="height: 50vh"></textarea>
            <label for="floatingTextarea2">Blog</label>
        </div>
    </div>
    <div class="row justify-content-around align-items-center">
        <input type="submit" value="submit" class="btn btn-secondary col-2 ">
        <input type="reset" value="Reset" class="btn btn-outline-danger col-2 ">
    </div>
</form>
</body>
</html>